
/*Styling for my header 1*/
h1{
  padding-bottom: 15px;
  display: box;
  color:white;
    background-color: black;
  padding-top: 80px;
  margin: auto;
  font-family: sans-serif,cursive;
  font-weight: 400;
}
/*This style is to align center to certian text*/
.align-center{
  text-align: center;
}
/*This style is to make the text an uppercase*/
.uppercase{
  text-transform: uppercase;
}
/*This is to style my image*/
img{
  border: 1px, solid, black;
  border-radius: 50%;
}

/*Style for my paragraphs*/
p{
  font-family: open-sans,cursive;
}
/*Style for my list items*/
li{
  font-style: italic;
}



